{% extends 'layout/layout' %}

{% block title %}
    {{ translate('Register Confirm') }}
{% endblock title %}

{% block content %}

    {% if passwordSame %}
        <form action="" method="post">
            <button type="submit">{{ translate('register complete') }}</button>
        </form>
    {% else %}
        {{ formWidget(registerForm) }}
    {% endif %}

{% endblock content %}